.note {
  --padding: 15px;
  background-color: var(--white-900);
  border: 2px solid var(--white-700);
  border-radius: 12px;
  color: rgb(255, 255, 255);
}

.note [class="note-body"] {
  padding: var(--padding);
}

.note [class="note-body"] .read-more {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.note [class="note-footer"] {
  padding: 5px var(--padding);
  background-color: rgb(33, 37, 41, 0.05);
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  
}

.note i:nth-child(2):hover {
  color: red;
}
.note i:nth-child(1):hover {
  color: green;
}
