.notes {
  --gap: 10px;
  --number-of-notes: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap);
}

.notes > * {
  width: 20vw;
}
.empty {
  height: calc(100vh - 100px);
}

[class="vertical-line"] {
  width: 8px;
  height: 100vh;
  background-color: black;
}
